
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    width: 100vw;
    background-image:linear-gradient(135deg ,rgb(98, 32, 197), rgb(225, 24, 225));
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main{
    border: 2px solid white;
    margin-top: 100px;
}

.box{
    padding: 30px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}

#input{
    height: 50px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    padding-left: 1.5rem;
}
#input:focus{
    border: 2px solid purple;
}

#btn{
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: blueviolet;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
    margin-left: 30px;
}
#btn:active{
    transform: scale(0.95);
}
.data{
    background-color: aliceblue;
    margin: 20px;
    border-radius: 5px;
    padding: 7px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

i{
    font-size: 1.5rem;
    cursor: pointer;
}
i:active{
    transform: scale(0.9);
}
.fa{
    margin-right: 10px;
}



@media only screen and (max-width:500px) {
    .main{
        width: 90%;
    }
    #input{
        width: calc(100% - 100px );
        padding-left: 5px;
    }
    #btn{
        width: 70px;
        margin-left: 20px;
    }
    .box{
        padding: 15px;
    }

}
